html, body {
  	font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}


div{
	position: absolute;
	text-align: center;
}	

#plano1{
	background: url('../img/background1.jpg'), no-repeat;
	background-size: Cover;
	position: relative;
	height: 720px;
	
	}



.banner{
}

.menu{
background-color: black;
opacity: 0.57;
list-style:none;
float:right;
position: relative;
padding-left: 718px;
font-style: italic;
}

.menu li{
position:relative;
float:left;
color: white;
}

#item{
border-right: 1px solid;
padding-right: 10px;	
}

#item2{
border-right: 1px solid;
padding-right: 10px;	
}

.menu li a:hover{
background:#C0C0C0;
color: white;
-moz-box-shadow:0 3px 10px 0 #000;
-webkit-box-shadow:0 3px 10px 0 #000;
text-shadow:0px 0px 1px #C0C0C0;
}

.menu li ul{
position:absolute;
top:60px;
left:0;
background-color:#C0C0C0;
display:none;
}

.menu li ul li{
display: block;
width:200px;
  
}

*{
margin: 2px; padding: 2px;
}

.menu li:hover ul, .menu li.over ul{
display:block;

}

.menu li a{
color: white; 
text-decoration:none; 
}
